# Backend Environment Variables

# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://MERN:Demon2005@mern.6egslvz.mongodb.net/?appName=MERN

# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/ngo-dashboard

# JWT
JWT_SECRET=4f5d881df5f2ae307633cad708ed5a949a9f30229aecc529d14f42feb61f2ea8

# Email Configuration (Gmail)
EMAIL_USER=svblackdevil2005@gmail.com
EMAIL_PASS=visd gmfy gqig cehz
GEMINI_API_KEY=AIzaSyAi2mBKdAQD-610BYBCoImAv19uB3DUots
# CORS
CORS_ORIGIN=http://localhost:5173
